* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    text-decoration: none;
}

.bg-menu {
    background-color: rgb(116, 38, 38);
}


.navbar-nav {
    margin: auto;
}

.nav-link {
    margin: 0 40px;
    color: white !important;
    font-size: 1.2em !important;
    text-transform: uppercase;
}

.logonav {
    width: 2em;
}


footer {
    background-color: rgb(255, 222, 159);
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}

footer h3 {
    font-size: 1.2em;
}

footer a img {
    margin: 10px;
}

/* index main*/
.hero {
    background-color: black;
    color: white;
    font-size: 25px;
    text-align: center;
}


.hero h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    padding: 50px;
    letter-spacing: 2px;
}

.imgcarousel{
    width: 70%;
    border: 4px solid rgb(255, 255, 255);
}

.hero p {
    padding: 0 50px 50px 50px;
    text-align: justify;
}

.hero .hero2 section .backimgtour {
    width: 100%;
    height: 100%;
    border: 5px solid white;
    border-radius: 55px;
    background-image: url(../img/rollinggira.npg.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}



.hero .hero2 section .backimgtour a {
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.hero .hero2 section .backimgtour a:hover {
    font-size: 35px;
}

.hero .hero2 section {
    max-height: 350px;
}





.hero .hero2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.hero .hero2 img {
    width: 20em;
    height: 100%;
    border: solid 4px white;
}

.hero .hero2 iframe {
    border: solid 4px white;
}

/*pag contacto*/
main form {
    color: white;
    background-color: black;
}

main form .formulario input,
select,
textarea {
    display: block;
    border: 2px solid red;
    padding: 2px;
}

main .contactanos {
    color: rgb(213, 12, 12);
    background-color: black;
    font-size: 20px;
    padding: 25px;
    margin-bottom: 0;
}


main form .formulario {
    padding: 10px 25px;
}

/*pag discos*/


main .discografia .discos {
    font-size: 1em ;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 2em;
}

main .discografia .discos img {
    width: 15em;
    height: 15em;

}

main .discografia .discos ol {
    margin-left:1em;
}

main .discografia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    padding-bottom: 2.5em;
    padding-left: 3em;
    overflow-x:hidden;
}

main .discografia .discos ol li {
    text-align: start;
}

/*pag integrantes*/

.mainintegrantes {background-color: black;}

.mainintegrantes h1 {font-size: 2.2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px}

.mainintegrantes .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.mainintegrantes .container .integrante {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
}


.mainintegrantes .container .integrante img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover; 
}

.mainintegrantes .container .integrante div h2 {
    margin: 0 0 10px;
    color:  rgb(116, 38, 38);
    font-size: 2em;
}

.mainintegrantes .container .integrante div p {
    margin: 0;
    color: black;
    font-size: 16px;
    font-weight: 500;
}



/*pag historia*/
.historia {
    color: white;
    background-color: black;
    text-align: center;
    padding: 1.8em 0 1.8em 0;
}



.historia p {
    font-size: 20px;
    text-align: justify;
    margin: 0;
    padding: 0 1.2em ;
    
}

.historia h2,h1 {
    font-size: 2.2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0;
    letter-spacing: 2px
    
}

.historia .primerosexitos {padding-bottom:0.7em;}

.historia .enlacimadelmundo {padding: 0.7em 0;}

.historia .imagenhistoria1 {
    width: 80%;
    height: auto;
    padding: 1.5em 0 1.5em 0;

    
}

.historia .imghistoria {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0 1.5em 0;
}


.historia .imghistoria img {
    width: 40%;
    height: auto;
    border: 3px solid white;
}


@media screen and (max-width:1490px) {
    .hero .hero2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero .hero2 img {
        margin-right: 20px;
    }

    .hero .hero2 .backimgtour a {
        padding: 0 20px;
    }

    .hero .hero2 iframe {
        margin-top: 0px;
    }

    .hero .hero2 section .backimgtour {
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width:1400px) {
    main .discografia {
        grid-template-columns: repeat(2, 1fr);


    }

}

@media screen and (max-width:1385px) {
    .hero .hero2 iframe {
        margin-top: 50px;
    }
    .hero .hero2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero .hero2 img {
        width: 80%;
        margin: 0;
    }

    .hero .hero2 section .backimgtour {
        margin-top: 30px;
        width: 100%;
    }

    

    .hero .hero2 section {
        width: 65%;
        height: 20em;
    }

    


}



@media screen and (max-width:1000px) {


    main .discografia {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2em 2m 2m;
    }




}

@media screen and (max-width :980px) {
    main .discografia {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    main .discografia .discos {width: 31em;}
    .hero p {text-align: center;}
}

@media screen and (max-width:700px) {

    .mainintegrantes .container .integrante {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 15px;
    }

}


@media screen and (max-width:600px) {
    .hero .hero2 iframe {width: 80%}
    
}


@media screen and (max-width: 480px) {
    main .discografia {
        grid-template-columns: 1fr;
        padding-left: 1em;
        padding-right: 1em;
    }

    main .discografia .discos {
        flex-direction: column;
        align-items: center;

    }

    main .discografia .discos img {
        width: 15em;
        height: 15em;
        margin-bottom: 1em;
    }

    main .discografia .discos ol {
        text-align: center;
        margin-left: 0;
        padding-left: 0;
        margin-right: 4em;
        
    }
    .hero .hero2 iframe {height: 8em;}

    .historia .imghistoria { display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
}

.historia .imghistoria  img {width: 18em;}
.historia p {text-align: center;}
}
