footer { background-color: rgb(255, 222, 159);
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;

    h3 {font-size: 1.2em;

    }
    a {
        img{ margin: 10px;

        }
    }
}