.navbar-nav {
    margin: auto;
}

.nav-link {
    margin: 0 40px;
    color:$color-secundario !important;
    font-size:nth($font-size,2)  !important;
    text-transform: uppercase;
}

.logonav {
    width: 2em;
}

.bg-menu {
    background-color:$color-terciario;
}